* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #414a51;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 500px;
}

main {
    text-align: center;
}

header {
    padding: 1% 0;
    text-align: center;
}

h1 {
    font-size: 45px;
}

table {
    width: 70%;
    margin: 3% auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table th,
td {
    font-size: 25px;
    border: 1px solid #ccc;
    margin: 0;
}

table th {
    background-color: #6495ed;
}

table td {
    background-color: aquamarine;
}

main #btn_add,
table button {
    padding: 5px 15px;
    border-radius: 7px;
    background-color: #09c;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

main #myDIV {
    width: 20%;
    margin: 2% auto;
    border: 1px solid #ccc;
}

#btn_submit {
    padding: 5px 10px;
    background-color: #09c;
    margin-bottom: 5px;
}

main fieldset,
label,
legend,
form {
    background-color: #87cefa;
}

#myDIV input {
    margin: 2% 0;
    background-color: #fff;
}

#myDIV label {
    text-align: left;
    width: 100%;
}

.btn_delete {
    padding: 5px 10px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 35px;
    }
    table th {
        font-size: 15px;
    }
    #btn_add {
        width: 20%;
        font-size: 10px;
    }
}